$mobile-width: 300px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-xl-width: 1440px;

@mixin br-mobile {
  @media screen and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin br-tablet {
  @media screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin br-desktop {
  @media screen and (min-width: #{$desktop-width}) and (max-width: #{$desktop-xl-width - 1px}) {
    @content;
  }
}

@mixin br-desktop-xl {
  @media screen and (min-width: #{$desktop-xl-width}) and (max-width: 1700px) {
    @content;
  }
}