<template>
    <div :class="{'light-theme-card' : !this.$root.APIStorage.userData.darkMode, 'sc-card': true, 'sc-card-in-stack': this.isAbsolute, correctCard: isCorrectCard(card.id), wrongCard: isWrongCard(card.id), 'sc-card-has-comment': card.note !== null && card.note !== ''}" :id="card.id" :title="card.description">
        <div class="sc-card-header">
        </div>
        <div class="sc-card-body">
            <span>{{ card.description }}</span>
        </div>
        <div class="sc-card-footer">
            <div v-if="this.$root.APIStorage.game.isFinished || (this.$root.APIStorage.game.directFeedback && !this.isAbsolute)" :id="'noteExplain' + card.id" class="d-flex m-2 sc-note-btn" @click="showExplanation(card.id)" >
                <i class="fa fa-question-circle"></i>
            </div>

            <div v-if="this.$root.APIStorage.game.isFinished || this.$root.APIStorage.game.directFeedback" class="d-flex m-2">
                <i v-if="isCorrectCard(card.id)" class="fa fa-check"></i>
                <i v-if="isWrongCard(card.id)" class="fa fa-times"></i>
            </div>

            <div :id="'noteAlert'+card.id" :class="{'d-flex m-2 sc-note-btn': true, 'sc-note-added': card.note !== null && card.note !== ''}" @click="showNoteModal">
                <i class="fa fa-pencil"></i>
            </div>
        </div>
    </div>
</template>

<script>
    import Modals from "./../Modal"
    import analytics from "firebase/analytics";
    import * as firebase from "firebase/app";

    export default {
        name: "Card",
        components: {
            Modals
        },
        data() {
            return {
                ExplanationAvailable: false,
                noteData: null,
                tooltipExplain: false
            };
        },
        props: {
            card: {
                type: Object,
                required: true
            },
            isAbsolute: {
                type: Boolean,
                default: false
            }
        },
        methods: {
            showNoteModal(){
                this.$root.Firebase.logEvent('show note modal', this.$root.APIStorage.userData);
                this.$root.APIStorage.openModal = {
                    cardId: this.card.id,
                    cardNote: this.card.note,
                    modalType: "note"
                }
                this.$root.APIStorage.showModal = true;
            },
            showExplanation(id){
                if (this.$root.APIStorage.game.isFinished || this.$root.APIStorage.game.directFeedback) {
                    this.$root.APIStorage.openModal = {
                        cardId: id,
                        modalType: "explanation"
                    };
                    this.$root.Firebase.logEvent('show explanation modal', this.$root.APIStorage.userData);
                } else {
                    this.$root.APICaller._handleErrors({
                        message: "The game hasn't finished yet or direct feedback has not been selected!"
                    });
                }
            },
            isCorrectCard(id) {
                if(this.$root.APIStorage.game.isFinished || this.$root.APIStorage.game.directFeedback){
                    return this.$root.APIStorage.correctCards.includes(id)
                }
                return false;
            },
            isWrongCard(id) {
                if(this.$root.APIStorage.game.isFinished || this.$root.APIStorage.game.directFeedback){
                    return this.$root.APIStorage.wrongCards.includes(id)
                }
                return false;
            }
        }
    };
</script>

<style scoped lang="scss">
    @import "src/scss/variables/colors";
    @import "src/scss/mixins/breakpoints";

    .noteText{
        color: white !important;
    }

    textarea{
        min-height: 200px;
    }
    #questionIcon{
        position: relative;
        top: 5%;
        left: 5%;
    }

    .noteInput {
        display: none;
    }

    //.sc-note-added {
        //color: $sc_dark_light;
    //}

    .sc-note-btn:hover {
        cursor: pointer;
    }

    .sc-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        margin-bottom: 1rem;
        background: linear-gradient(150deg, $sc_orange_light, darken($sc_orange, 15%));
        border-radius: 0.5rem;
        overflow: hidden;

        &-has-comment:before {
            font: normal normal normal 14px/1 FontAwesome;
            content: "\f075";

            font-size: 147px;
            color: rgba(0,0,0) !important;
            opacity: 0.2 !important;
            position: absolute;
            right: -27px;
            z-index: 0;
            bottom: 4px;
        }

        &-header {
            color: white;
        }

        &-body {
            display: flex;
            margin: 0.5rem 0.5rem;
            font-size: 0.9rem;
            justify-content: center;
            z-index: 1;
            color: white;

            @include br-tablet {
                font-size: 0.75rem;
            }
            @include br-mobile {
                font-size: 0.6rem;
            }
        }

        &-footer {
            display: flex;
            justify-content: center;
            padding-top: 0.7rem;
            padding-left: 0.7rem;
            padding-right: 0.7rem;
            color: white;
            z-index: 1;

            i[class="fa fa-check"] {
                color: $sc_green_light;
            }

            i[class="fa fa-times"] {
                color: $sc_red_light;
            }
        }

        &-in-stack {
            height: 200px;
            margin-bottom: 0;
        }
    }

    .light-theme-card {
        background: linear-gradient(150deg, $sc_blue_light, darken($sc_blue, 15%));
    }

    .correctCard {
        background: linear-gradient(150deg, $sc_green_light, darken($sc_green, 15%));
        border: $sc_green 3px solid;
        box-shadow: $sc_green_light 0 0 0.5rem;
    }

    .wrongCard {
        background: linear-gradient(150deg, $sc_red_light, darken($sc_red, 15%));
        border: $sc_red_light 3px solid;
        box-shadow: $sc_red_light 0 0 0.5rem;
    }

    .alertClass{
        color: red;
    }

    .relative {
        position: relative;
    }
</style>
