<template>
    <div class="centralPile">
        <drag v-if="currentCard !== undefined && currentCard !== null" :key="currentCard.id" :data="currentCard" @dragstart="hideSideBar">
            <card :card="currentCard" :is-absolute="true"></card>
        </drag>
    </div>
</template>

<script>
    import Card from "./Card";
    import {Drag} from "vue-easy-dnd";

    export default {
        name: "CentralPile",
        props: {
            currentCard: {
                validator: v => typeof v === 'object' || null,
                required: true
            }
        },
        components: {Card, Drag},
        methods: {
            hideSideBar() {
                if (screen.width < 768) this.$root.APIStorage.showSideBar = false;
            }
        }
    };
</script>

<style lang="scss">
    .centralPile {
        display: flex;
        flex-direction: column;
    }
</style>
