<template>
    <div class="sc-row">
        <Column v-for="column in columns" :key="column.id" :column="column"></Column>
        <footer class="footerMain" :class="{'light-theme' : !this.$root.APIStorage.userData.darkMode, 'footerMain-show': isVisible}">
            <div>
                <hr id="footerBorder">
                <vue-markdown class="footerText" :source="this.$root.APIStorage.game.copyrightString"></vue-markdown>
            </div>
            <div class="sc-copyrights-btn" @click="openCloseCopyrights">
                <i v-if="!isVisible"  style="font-size: 15px;"><span>Copyrights</span></i>
                <i v-else class="fa fa-arrow-down"></i>
            </div>
        </footer>
    </div>
</template>

<script>
    import Column from "./Column";
    import VueMarkdown from "vue-markdown";

    export default {
        name: "ColumnRow",
        props: {
            columns: {
                type: Array,
                required: true
            }
        },
        data() {
            return{
                isVisible: false
            }
        },
        methods: {
            openCloseCopyrights() {
                this.isVisible = !this.isVisible;
            }
        },
        components: {Column, VueMarkdown}
    };
</script>

<style lang="scss">
    .footerText {
        p {
            font-size: 10px;
        }
    }
</style>

<style scoped lang="scss">
    @import "./src/scss/variables/colors";
    @import "src/scss/mixins/breakpoints";

    .sc-row {
        display: flex;
        flex-wrap: wrap;

        padding: 20px;
        height: 100vh;
        overflow-y: hidden;
        width: 85%;

        @include br-desktop-xl {
            width: 82%;
        }

        @include br-desktop {
            width: 75%;
            overflow-y: scroll;
        }

        @include br-tablet {
            width: 70%;
            overflow-y: scroll;
        }

        @include br-mobile {
            width: 100%;
            overflow-y: scroll;
        }
    }

    .light-theme {
        background: #f5f5f5 !important;
    }
    .footerMain {
        position: absolute;
        bottom: 0;
        top: auto;
        right: 0;
        width: 84%;
        padding: 5px 10px;
        text-align: left;
        z-index: 1;

        @include br-desktop-xl {
            width: 81%;
        }

        @include br-desktop {
            width: 74%;
            overflow-y: scroll;
        }

        @include br-tablet {
            width: 69%;
            overflow-y: scroll;
        }

        #footerBorder {
            margin: 5px;

            @include br-mobile {
                display: none;
            }
        }

        @include br-mobile {
            position: fixed;
            width: 100%;
            z-index: 8;
            transform: translate(0, 100%);
            transition: transform 0.4s;
            display: flex;
            flex-direction: row;
            &-show {
                transform: none;
                box-shadow: darken($sc_dark, 10%) 0 0 0.5rem;
            }
        }

        .sc-copyrights-btn {
            display: none;
            @include br-mobile {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 7px;
                background: $sc_orange;
                color: white;
                position: absolute;
                bottom: 100%;
                width: 30%;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
</style>
