<template>
    <div class="sc-col" :id="'column-' + column.id">
        <div :class="{'sc-col-header': true, 'sc-col-header-hover': this.isHovering && !this.$root.APIStorage.game.isFinished, 'light-theme' : !this.$root.APIStorage.userData.darkMode}">
            <h3 :class="{'light-theme' : !this.$root.APIStorage.userData.darkMode}">{{ column.title }}</h3>
        </div>
        <vue-custom-scrollbar class="sc-col-body" :class="{'sc-col-body-hover': this.isHovering && !this.$root.APIStorage.game.isFinished, 'light-theme' : !this.$root.APIStorage.userData.darkMode}">
            <drop class="list" @drop="dropCard" id="columnCardSection" @dragenter="() => this.isHovering = true" @dragleave="() => this.isHovering = false">
                <transition-group name="card-pop">
                    <div v-for="card in column.cards" :key="'card-div-' + card.id" class="card-pop-item">
                        <drag :key="'drag-card-' + card.id" :data="card" class="prevent-drag-out" @dragstart="hideSideBar">
                            <card :key="'column-card-' + card.id" :card="card" ></card>
                        </drag>
                    </div>
                </transition-group>
            </drop>
        </vue-custom-scrollbar>
    </div>
</template>

<script>
    import Card from "./Card";
    import {Drag, Drop} from "vue-easy-dnd";
    import vueCustomScrollbar from 'vue-custom-scrollbar';

    export default {
        name: "Column",
        components: {Card, Drag, Drop, vueCustomScrollbar},
        props: {
            column: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                isHovering: false
            }
        },
        methods: {
            dropCard(event) {
                let card = event.data;
                let fromColumnId = null;
                if (card.columnId !== null) {
                    fromColumnId = card.columnId;
                }
                if (fromColumnId === this.column.id) {
                    this.isHovering = false;
                    return;
                }
                this.$root.APICaller.putCard(card.id, this.column.id, fromColumnId);
                this.$root.Firebase.logEvent('placed card in column', this.$root.APIStorage.userData);

                if (card.columnId == null && screen.width < 768) setTimeout(() => this.$root.APIStorage.showSideBar = true, 1000);
                this.isHovering = false;
            },
            hideSideBar() {
                if (screen.width < 768) this.$root.APIStorage.showSideBar = false;
            },
            showSideBar() {
                if (screen.width < 768) this.$root.APIStorage.showSideBar = true;
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "./src/scss/variables/colors";
    @import "./src/scss/mixins/breakpoints";

    .card-pop-enter-active {
        animation: bounce-in .5s;
    }
    .card-pop-leave-active {
        position: absolute;
        opacity: 0;
    }
    .card-pop-item {
        transition: all .5s, opacity 0ms;
    }

    @keyframes bounce-in {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

    .sc-col {
        position: relative;
        width: 180px;
        max-height: 92vh;
        min-height: 40vh;
        margin: 5px;
        padding: 0;

        display: flex;
        flex-direction: column;
        align-self: baseline;

        //flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;

        &-header {
            margin-bottom: 0.5rem;
            padding: 1.6rem 0.1rem;

            border: 0.15rem solid;
            border-color: lighten($sc_dark_light, 10%);
            background: $sc_dark;
            border-radius: 0.4rem;

            h3 {
                font-size: 1.4rem;
                height: 4rem;
                color: rgb(184, 194, 204);
                margin-bottom: 0;

                @include br-tablet {
                    font-size: 1.2rem;
                }

                @include br-mobile {
                    font-size: 1.0rem;
                }
            }

            &-hover {
                border: 0.15rem $sc_orange_light solid;
                box-shadow: $sc_orange_light 0 0 0.8rem;
                animation: dropAnimation-header 1.2s infinite;

                > h3 {
                    color: $sc_orange_light;
                }
            }

            @keyframes dropAnimation-header {
                0%, 100% {
                    box-shadow: $sc_orange_light 0 0 0.2rem;
                    border: 0.15rem rgba($sc_orange_light, 0.1) solid;
                }
                50% {
                    box-shadow: $sc_orange_light 0 0 1rem;
                    border: 0.15rem $sc_orange_light solid;
                }
            }
        }

        &-body {
            //overflow-x: hidden;
            //overflow-y: auto;
            overflow: hidden;
            background: $sc_dark;
            border-radius: 0.4rem;
            min-height: inherit;
            padding: 0.5rem 0.5rem;

            &-hover {
                outline: 0.1rem $sc_orange_light solid;
                box-shadow: $sc_orange_light 0 0 0.8rem;
                animation: dropAnimation-body 1.2s infinite;
            }

            @keyframes dropAnimation-body {
                0%, 100% {
                    box-shadow: $sc_orange_light 0 0 0.2rem;
                    outline: 0.1rem rgba($sc_orange_light, 0.1) solid;
                }
                50% {
                    box-shadow: $sc_orange_light 0 0 1rem;
                    outline: 0.1rem $sc_orange_light solid;
                }
            }
        }
    }

    .list {
        width: auto;
        min-height: inherit;
        padding-bottom: 5rem;

        display: flex;
        flex-direction: column;
        flex: 1;

        .item {
            padding: 20px;
            margin: 3px;
            background-color: rgb(220, 220, 255);
            display: flex;
            align-items: center;
            justify-content: center;

            &.feedback {
                background-color: rgb(255, 220, 220);
                border: 2px dashed black;
            }

            &.drag-image {
                background-color: rgb(220, 255, 220);
                transform: translate(-50%, -50%);
            }
        }
    }

    .light-theme {
        background-color: lighten(#d4d5d7, 5%);
        border-color: $sc_midnight;
        color: #6b6f74 !important;

        &.sc-col-header-hover {
            border: 0.15rem $sc_purple_light solid;
            box-shadow: $sc_purple_light 0 0 0.8rem;
            animation: dropAnimation-body-blue 1.2s infinite;
        }

        &.sc-col-body-hover {
            box-shadow: $sc_purple_light 0 0 0.8rem;
            animation: dropAnimation-body-blue 1.2s infinite;
        }

        @keyframes dropAnimation-body-blue {
            0%, 100% {
                box-shadow: $sc_purple_light 0 0 0.2rem;
                outline: 0.1rem rgba($sc_purple_light, 0.1) solid;
            }
            50% {
                box-shadow: $sc_purple_light 0 0 1rem;
                outline: 0.1rem $sc_purple_light solid;
            }
        }
    }
</style>
