<template>
  <div
    id="join-code-div"
    class="sc-code-spacer"
    :class="{'sc-code-spacer-light': !this.$root.APIStorage.userData.darkMode}"
  >
    <div id="join-code-text">
      <i class="fa fa-qrcode mr-2"></i>
      {{ joinCode }}
    </div>
    <a href="#" @click="copyDirectLink" v-b-tooltip.hover.right title="Copy join link">
      <i class="fa fa-share-square-o"></i>
    </a>
  </div>
</template>

<script>
export default {
  name: "JoinCodeBar",
  props: {
    joinCode: {
      type: String,
      default: "000",
      required: true
    }
  },
  methods: {
    shareUrl() {
      return (
        `${location.protocol}//${location.host}${location.pathname}?joinCode=` +
        this.joinCode
      );
    },
    copyDirectLink() {
      this.$copyText(this.shareUrl())
        .then(_ => {
          this.$root.APIMethods.showSnackbar(
            "Copied join link to clipboard",
            "success"
          );
        })
        .catch(_ => {
          this.$root.APIMethods.showSnackbar("Error copying link", "error");
        });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "src/scss/variables/colors";
@import "src/scss/mixins/breakpoints";
.sc-code-spacer {
  border-top: 0.05rem $sc_dark_light solid;
  margin-top: 1rem;
  padding-top: 0.4rem;
  color: $sc_orange;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &-light {
    color: $sc_blue;
  }
}
</style>