<template>
    <div class="sc-loading-screen">
        <div class="spinner">
            <div class="spinner-inner">
                <div>
                    <div>
                        <div></div>
                    </div>
                    <div>
                        <div></div>
                    </div>
                    <div>
                        <div></div>
                    </div>
                    <div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "LoadingScreen"
    }
</script>

<style scoped lang="scss">
    @import "src/scss/variables/colors";

    .sc-loading-screen {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba($sc_dark, 0.75);
        z-index: 3000;

        .spinner {
            width: 200px;
            height: 200px;
            display: inline-block;
            overflow: hidden;
            background: none;

            .spinner-inner {
                width: 100%;
                height: 100%;
                position: relative;
                transform: translateZ(0) scale(1);
                backface-visibility: hidden;
                transform-origin: 0 0; /* see note above */

                > div div:nth-child(4) > div {
                    background: $sc_orange;
                    transform: rotate(0deg);
                }

                > div div:nth-child(4) {
                    animation-duration: 4s
                }

                > div div:nth-child(3) > div {
                    background: $sc_purple;
                    transform: rotate(0deg);
                }

                > div div:nth-child(3) {
                    animation-duration: 2s
                }

                > div div:nth-child(2) > div {
                    background: darken($sc_orange, 5%);
                    transform: rotate(0deg);
                }

                > div div:nth-child(2) {
                    animation-duration: 1.3333333333333333s
                }

                > div div:nth-child(1) > div {
                    background: darken($sc_purple, 5%);
                    transform: rotate(0deg);
                }

                > div div:nth-child(1) {
                    animation-duration: 1s
                }

                > div > div > div {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100px;
                    height: 100px;
                    border-radius: 100px 0 0 0;
                    transform-origin: 100px 100px
                }

                > div > div {
                    transform-origin: 100px 100px;
                    animation: spinning 4s linear infinite;
                    //opacity: 0.81
                }
            }
        }

        @keyframes spinning {
            0% { transform: rotate(0deg) }
            100% { transform: rotate(360deg) }
        }
    }
</style>