<template>
    <div class="sidebar" :class="{'sidebar-show': this.$root.APIStorage.showSideBar}">
        <div class="sidebar-panel" :class="{'light-theme-sidebar' : !this.$root.APIStorage.userData.darkMode}">
            <div class="sc-menu">
                <div class="d-flex flex-row justify-content-between mb-2">
                        <base-button v-if="!this.$root.APIStorage.isMobile" class="p-1 text-gray" type="link" icon="fa fa-info-circle" @click="restartTutorial" title="Start tutorial"></base-button>
                        <base-button class="p-1 text-gray" @click="settings" type="link" icon="fa fa-cog"></base-button>
                </div>
                <timer class="mb-1"></timer>
                <div class="sc-user-icons-box">
                    <user-icon v-for="(player, i) in this.$root.APIStorage.game.players" :key="player.id" v-b-tooltip.hover.bottom :title="player.userName" :text="player.userName.charAt(0)" :color="randomColor(i)" :active="!!isUserActive(player.id)" :is-me="!!isMeUser(player.id)"></user-icon>
                </div>
                <JoinCodeBar v-bind:joinCode="this.$root.APIStorage.game.joinCode"/>
            </div>
            <div id="routeCondDiv" class="d-flex flex-column justify-content-between">
                <div v-if="this.$root.APIStorage.game.isFinished">
                    <p v-if="this.$root.APIStorage.endGameState === 2" style="font-size:100px">&#128516;</p>
                    <p v-if="this.$root.APIStorage.endGameState === 1" style="font-size:100px">&#128531;</p>
                    <base-button @click="stopFirework" v-if="!this.$root.APIStorage.stopFireworks" type="success" block class="mb-2">Stop fireworks</base-button>
                    <card no-body class="bg-transparent p-2 mb-3 border border-primary sc-nav-pile">
                        <base-progress type="success" :value="Math.max(Math.round((this.$root.APIStorage.correctCards.length * (100 / this.$root.APIStorage.totalCards))), 0)" :label="this.$root.APIStorage.correctCards.length + ' right'"></base-progress>
                        <base-progress type="danger" :value="Math.max(Math.round((this.$root.APIStorage.wrongCards.length * (100 / this.$root.APIStorage.totalCards))), 0)" :label="this.$root.APIStorage.wrongCards.length + ' wrong'"></base-progress>
                    </card>
                </div>
                <div v-else-if="this.$root.APIStorage.game.cardStack.length > 0">
                    <base-progress animated striped :type="!this.$root.APIStorage.userData.darkMode ? 'light-theme-bar' : 'warning'" :value="Math.max(Math.round(100 - (this.$root.APIStorage.game.cardStack.length * (100 / this.$root.APIStorage.totalCards))), 0)" :label="'Nog ' + this.$root.APIStorage.game.cardStack.length + ' te gaan'"></base-progress>
                </div>
                <div class="d-flex flex-column" id="cardRegion">
                    <card id="central-pile" v-if="!this.$root.APIStorage.game.isFinished && this.$root.APIStorage.game.cardStack.length > 0" no-body :type="!this.$root.APIStorage.userData.darkMode ? 'light-theme' : 'primary'" class="p-2 mb-2">
                        <base-button id="skip-button" v-if="this.$root.APIStorage.game.cardStack.length > 1" @click="skipCard" :type="!this.$root.APIStorage.userData.darkMode ? 'light-theme' : 'warning'" block class="mb-2" icon="fa fa-forward">Next card</base-button>
                        <transition name="slide-left">
                            <central-pile :key="this.$root.APIStorage.game.cardStack.first().id" :current-card="this.$root.APIStorage.game.cardStack.first()"></central-pile>
                        </transition>
                    </card>
                    <base-button icon="fa fa-flag-checkered" @click="endGame" type="success" v-if="this.$root.APIStorage.game.cardStack.length === 0 && !this.$root.APIStorage.game.isFinished" block>Finish</base-button>
                    <base-button id="reset-modal-button" v-if="!this.$root.APIStorage.game.isFinished && !this.$root.APIStorage.game.directFeedback" class="mt-2" @click="showResetModal" type="danger" block icon="fa fa-refresh">Reset</base-button>
                    <base-button type="danger" icon="fa fa-arrow-left" v-on:click="showRestartModal" block>Leave</base-button>
                </div>

                <NavBarTour />
            </div>
        </div>
        <div class="sc-collapse-btn" @click="openCloseSidebar" :class="{'isMe' : isUserActive(this.$root.APIStorage.userData.id)}">
            <i v-if="!this.$root.APIStorage.showSideBar" class="fa fa-arrow-right"></i>
            <i v-else class="fa fa-arrow-left"></i>
        </div>
    </div>
</template>

<script>
    import CentralPile from "./CentralPile"
    
    import NavBarTour from "./NavBarTour"
    import JoinCodeBar from "./JoinCodeBar"
    import Timer from "./Timer"
    import {Storage} from "../../services/Storage"
    import UserIcon from "./UserIcon"
    import ArrayFirstUtil from "../../utils/ArrayFirstUtil"
    export default {
        name: "NavBar",
        components: {UserIcon, CentralPile, Timer, NavBarTour, JoinCodeBar},
        methods: {
            endGame() {
                this.$root.APICaller.finishGame().then(_ => {
                    if (this.$root.APIStorage.endGameState === 2) {
                        this.$confetti.start({
                            defaultColors: [
                                '#8854d0', '#fa8231'
                            ]
                        });
                        setTimeout(() => this.$confetti.stop(),2500)
                    }
                });
            },
            showRestartModal(){
                this.$root.APIStorage.openModal = {modalType: "restartGame"}
            },
            restartTutorial() {
                if (this.$root.APIStorage.game.isFinished) {
                    this.$root.APIStorage.tutorialCounter = 7;
                } else this.$root.APIStorage.tutorialCounter = 1;
            },
            skipCard() {
                this.$root.APICaller.skipCard().then(_ => {
                    this.$root.Firebase.logEvent('skip card', this.$root.APIStorage.userData);
                });
            },
            showResetModal(){
                this.$root.APIStorage.openModal = {modalType: "resetGame"}
            },
            openCloseSidebar() {
                this.$root.APIStorage.showSideBar = !this.$root.APIStorage.showSideBar;
            },
            randomColor(index) {
                const colors = ['red', 'purple', 'green', 'blue'];
                return colors[index % 4];
            },
            isUserActive(id) {
                return this.$root.APIStorage.game.currentTurnPlayerId !== null && this.$root.APIStorage.game.currentTurnPlayerId === id;
            },
            isMeUser(id) {
                return 'id' in this.$root.APIStorage.userData && this.$root.APIStorage.userData.id === id;
            },
            settings() {
                this.$root.APIStorage.openModal = {
                    modalType: "optionsModal"
                }
            },
            stopFirework(){
                this.$root.APIStorage.stopFireworks = true;
            }
        }
    };
</script>

<style lang="scss">
    @import "src/scss/variables/colors";
    @import "src/scss/mixins/breakpoints";

    .slide-left-enter-active,
    .slide-left-leave-active {
        transition-duration: 0.9s;
        transition-property: height, opacity, transform;
        transition-timing-function: ease;
        overflow: hidden;
    }

    .slide-left-leave-active {
        position: absolute;
        margin-bottom: 8px;
        margin-right: 8px;
        bottom: 0;
    }

    .slide-left-enter{
        opacity: 0;
        transform: translate(0.5em, 0);

    }

    .slide-left-leave-to{
        opacity: 0;
        transform: translate(-0.5em, 0);
    }

    

    #start-tutorial-icon{
        position: absolute !important;
        left: 20%;
        font-size: 20px;
        top: 0;
        z-index: 10;
    }

    #settingsIcon {
        position: absolute;
        left: 10%;
        height: 20px;
        top: 0;
        z-index: 10;
        font-size: 20px;
        color: $sc_midnight;
        padding: 2px;
    }

    .sidebar {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 15%;
        height: 100%;

        @include br-desktop-xl {
            width: 18%;
        }

        @include br-desktop {
            width: 25%;
        }

        @include br-tablet {
            width: 30%;
        }

        @include br-mobile {
            width: 70%;
            position: fixed;
            z-index: 6;
            transform: translate(-100%, 0);
            transition: transform 0.4s;

            &-show {
                transform: none;
            }
        }

        .sc-collapse-btn {
            display: none;
            @include br-mobile {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 7%;
                width: 30px;
                background: $sc_orange;
                color: white;
                position: absolute;
                top: 50%;
                left: 100%;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .sc-menu {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .sidebar-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: relative;
        background-color: $sc_dark;
        box-shadow: darken($sc_dark, 10%) 0 0 0.5rem;
        padding: 0 1.5rem 1.5rem;
        width: 100%;
        overflow: hidden;
        height: 100%;

        @include br-tablet {
            overflow: auto;
        }
        @include br-mobile {
            overflow: auto;
        }
    }

    ul.sidebar-panel-nav {
        list-style-type: none;
        text-align: left;
    }

    ul.sidebar-panel-nav > li > a {
        color: #fff;
        text-decoration: none;
        font-size: 1.5rem;
        display: block;
        padding-bottom: 0.5em;
    }

    .sc-nav-pile {
        > div:first-of-type {
            padding-top: 0.3rem;
        }
    }

    .sc-user-icons-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
</style>

<style lang="scss">
    @import "src/scss/variables/colors";

    .light-theme-sidebar {
        background-color: lighten(#d4d5d7, 5%);
        box-shadow: darken(#d4d5d7, 20%) 0 0 0.5rem;
    }

    .bg-light-theme{
        background-color: #21618C !important;
        box-shadow: darken(#d4d5d7, 20%) 0 0 0.5rem;

    }

    .btn-light-theme {
        background-color: $sc_blue;
        color: white;
    }

    .text-gray {
        color: $sc_gray !important;
    }

    .isMe {
       background-color: $sc_green !important;
        animation: shake 2.5s;
        animation-iteration-count: infinite;
    }

    @-webkit-keyframes shake {
        0%, 10%, 20%, 30%, 40%, 50% {-webkit-transform: translateY(-5px);}
        5%, 15%, 25%, 35%, 45% {-webkit-transform: translateY(5px);}
        55%, 100% {transform: translateY(0);}
    }

    @keyframes shake {
        0%, 10%, 20%, 30%, 40%, 50% {transform: translateY(-5px);}
        5%, 15%, 25%, 35%, 45% {transform: translateY(5px);}
        55%, 100% {transform: translateY(0);}
    }


</style>
