<template>
  <div>
    <b-popover
      :show="this.$root.APIStorage.tutorialCounter === 1"
      target="cardRegion"
      triggers
      type="default"
      title="Cardstack (1/5)"
    >
      <span>This is the cardstack, this is where you drag the cards from.</span>
      <br />
      <br />
      <span>
        <i class="fa fa-pencil"></i> Click on this icon to add a note to certain cards, E.G. a question for the teacher.
      </span>
      <br />
      <span class="float-left mb-2 mt-2">
        <b-button @click="cancelTutorial" size="sm" variant="danger">Skip Tutorial</b-button>
      </span>
      <span class="float-right mb-2 mt-2">
        <b-button @click="countTutorialUp" size="sm" variant="primary">
          <i class="fa fa-arrow-right"></i>
        </b-button>
      </span>
    </b-popover>

    <b-popover
      :show="this.$root.APIStorage.tutorialCounter === 2"
      target="skip-button"
      triggers
      title="Skip current card (2/5)"
    >
      <span>Not sure where to put the current card? Skip it to put it on the bottom of the pile. Make it a problem for later.</span>
      <br />
      <span class="float-left mb-2 mt-2">
        <b-button @click="cancelTutorial" size="sm" variant="danger">Skip Tutorial</b-button>
      </span>
      <span class="float-right mb-2 mt-2">
        <b-button @click="countTutorialDown" size="sm" variant="primary">
          <i class="fa fa-arrow-left"></i>
        </b-button>
        <b-button @click="countTutorialUp" size="sm" variant="primary">
          <i class="fa fa-arrow-right"></i>
        </b-button>
      </span>
    </b-popover>

    <b-popover
      :show="this.$root.APIStorage.tutorialCounter === 3"
      target="column-row"
      triggers
      type="default"
      title="Columns (3/5)"
    >
      <span>Drag cards into the column you think is correct!</span>
      <br />
      <span class="float-left mb-2 mt-2">
        <b-button @click="cancelTutorial" size="sm" variant="danger">Skip Tutorial</b-button>
      </span>
      <span class="float-right mb-2 mt-2">
        <b-button @click="countTutorialDown" size="sm" variant="primary">
          <i class="fa fa-arrow-left"></i>
        </b-button>
        <b-button @click="countTutorialUp" size="sm" variant="primary">
          <i class="fa fa-arrow-right"></i>
        </b-button>
      </span>
    </b-popover>

    <b-popover
      :show="this.$root.APIStorage.tutorialCounter === 4"
      target="join-code-div"
      triggers
      type="default"
      title="Play with your team (4/5)"
    >
      <span>Want play this game with your team? Share this code with them, so you can play together.</span>
      <br />
      <span class="float-left mb-2 mt-2">
        <b-button @click="cancelTutorial" size="sm" variant="danger">Skip Tutorial</b-button>
      </span>
      <span class="float-right mb-2 mt-2">
        <b-button @click="countTutorialDown" size="sm" variant="primary">
          <i class="fa fa-arrow-left"></i>
        </b-button>
        <b-button @click="countTutorialUp" size="sm" variant="primary">
          <i class="fa fa-arrow-right"></i>
        </b-button>
      </span>
    </b-popover>

    <b-popover
      :show="this.$root.APIStorage.tutorialCounter === 5"
      target="routeCondDiv"
      triggers
      type="default"
      title="Finish game (5/5)"
    >
      <span>When all cards are placed you can press a Finish Game button, This will show wich cards are correctly and incorrectly placed.</span>
      <br />
      <br />
      <span>
        After finishing the game each card will show a
        <i class="fa fa-question-circle"></i> icon. Clicking this icon will show an explanation of why it should belong where.
      </span>
      <br />
      <span class="float-left mb-2 mt-2">
        <b-button @click="restartTutorial" size="sm" variant="danger">Restart</b-button>
      </span>
      <span class="float-right mb-2 mt-2">
        <b-button @click="countTutorialDown" size="sm" variant="primary">
          <i class="fa fa-arrow-left"></i>
        </b-button>
        <b-button @click="cancelTutorial" size="sm" variant="primary">End Tutorial</b-button>
      </span>
    </b-popover>

    <b-popover
      :show="(this.$root.APIStorage.tutorialCounter === 6 || this.$root.APIStorage.tutorialCounter === 7) && !this.$root.APIStorage.isMobile"
      target="column-row"
      triggers
      type="default"
      title="We are in the end game now!"
    >
      <span>All red cards are placed in the wrong columns, all green cards are correct.</span>
      <br />
      <br />
      <span>
        If you want an explanation click the
        <i class="fa fa-question-circle"></i> icon on one of the cards. This will show you exactly why said card is correct or wrong and will provide you with a link to a website with even more information!
      </span>
      <br />
      <span class="float-right mb-2 mt-2">
        <b-button @click="cancelTutorial" size="sm" variant="primary">Close Tutorial</b-button>
      </span>
    </b-popover>
  </div>
</template>

<script>
export default {
  name: "NavBarTour",
  components: {},
  methods: {
    cancelTutorial() {
      this.$root.APIMethods.stopTutorial();
    },
    restartTutorial() {
      if (this.$root.APIStorage.game.isFinished) {
        this.$root.APIStorage.tutorialCounter = 7;
      } else this.$root.APIStorage.tutorialCounter = 1;
    },
    countTutorialUp() {
      this.$root.APIMethods.increaseTutorialCounter();
    },
    countTutorialDown() {
      this.$root.APIMethods.decreaseTutorialCounter();
    }
  }
};
</script>