<template>
    <div class="snackbar" :class="[`snackbar-${this.type}`]">
        {{text}}
    </div>
</template>

<script>
    export default {
        name: "Snackbar",
        props: {
            text: {
                type: String,
                required: true
            },
            type: {
                type: String,
                default: "error"
            }
        },
        mounted() {
            setTimeout(() => {
                this.$delete(this.$root.APIStorage.snackbars, this.$vnode.key);
            }, 5000);
        }
    }
</script>

<style scoped lang="scss">
    @import "../../scss/variables/colors";

    .snackbar {
        display: flex;
        position: relative;
        background: $sc_red;
        color: white;
        border-radius: 0.2rem;
        padding: 1rem;
        margin-bottom: 0.5rem;
        z-index: 3000;

        &-error {
            background: $sc_red;
        }

        &-success {
            background: $sc_green;
        }
    }
</style>