<template>
    <div class="timer">
        <div class="sc-timer-counter mb-2" :class="{'sc-timer-counter-negative': this.$root.APIStorage.timer.currentTime < 0, 'light-theme-timer' : !this.$root.APIStorage.userData.darkMode}">
            <span class="minute">{{minutes}}</span>
            <span>:</span>
            <span class="seconds">{{seconds}}</span>
            <base-button type="transparent" icon-only icon="fa fa-plus" class="sc-timer-button" @click="showTimerDropdown" :class="{'light-theme-plus' : !this.$root.APIStorage.userData.darkMode}"></base-button>
            <div class="sc-timer-popout-card">
                <div class="sc-timer-popout" :class="{'sc-timer-popout-show': timerPopoutShown}">
                    <base-button type="primary" class="sc-timer-popout-button" size="sm" @click="addToTimer(1)">+1</base-button>
                    <base-button type="primary" class="sc-timer-popout-button" size="sm" @click="addToTimer(5)">+5</base-button>
                    <base-button type="primary" class="sc-timer-popout-button" size="sm" @click="addToTimer(10)">+10</base-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import BaseDropdown from "../BaseDropdown";

    export default {
        name: "Timer",
        components: {BaseDropdown},
        data() {
            return {
                timerPopoutShown: false
            }
        },
        methods: {
            showTimerDropdown() {
                this.timerPopoutShown = !this.timerPopoutShown;
            },
            addToTimer(minutes) {
                this.$root.APICaller.timerAddMinutes(minutes);
            }
        },
        computed: {
            minutes: function(){
                let min;
                if (this.$root.APIStorage.timer.currentTime >= 0) {
                    min = Math.floor(this.$root.APIStorage.timer.currentTime / 60);
                    return (min < 10 ? '0' : '') +min;
                } else {
                    min = Math.floor(0 - (this.$root.APIStorage.timer.currentTime / 60));
                    return "-" + (min < 10 ? '0' : '') +min;
                }
            },
            seconds: function() {
                let seconds;
                if (this.$root.APIStorage.timer.currentTime >= 0 ){
                    seconds = this.$root.APIStorage.timer.currentTime - (this.minutes * 60);
                } else {
                    seconds = (this.$root.APIStorage.timer.currentTime % 60) * -1;
                }
                return (seconds < 10 ? '0' : '') + seconds;
            }
        }
    }
</script>

<style lang="scss">
    @import "./src/scss/variables/colors";

    .sc-timer-dropdown .sc-timer-dropdown-list {
        background-color: darken($sc_dark, 5%);
        height: 80px;
        position: absolute;
        padding: 20px;
    }
</style>

<style lang="scss" scoped>
    @import "./src/scss/variables/colors";
    @import "src/scss/mixins/breakpoints";

    .sc-timer-counter {
        position: relative;
        font-size: 70px;
        color: $sc_orange;
        border: 0.2rem $sc_dark_light solid;
        border-radius: 0.7rem;
        box-shadow: darken($sc_dark, 5%) 0 0 0.8rem;

        @include br-tablet {
            font-size: 50px;
        }

        @include br-mobile {
            font-size: 35px;
        }

        > span {
            text-shadow: darken($sc_dark, 5%) 0 0 0.8rem;
        }
    }

    .sc-timer-button {
        position: absolute;
        top: 0;
        right: 0;
        color: $sc_orange;
        box-shadow: none;
        margin: 0!important;
    }

    .sc-timer-popout {
        display: flex;
        flex-direction: row;

        transition: height .2s;
        overflow: hidden;
        height: 0;
        align-items: flex-start;

        &-card {
            padding: 0 1rem;
        }

        &-show {
            height: 50px;
        }

        &-input {
            background: no-repeat;
            color: white;
            border: none;
            font-size: 30px;
            outline: 0;

            display: flex;
            flex: 75%;
        }

        &-button {
            display: flex;
            flex-basis: auto;
            flex-grow: 1;
            justify-content: center;
        }
    }

    .timer {
        display: flex;
        flex-direction: column;
        float: left;
    }

    .light-theme-timer{
        color: $sc_blue;
        border: 0.2rem $sc_gray solid;
        border-radius: 0.7rem;
        box-shadow: darken(#d4d5d7, 20%) 0 0 0.5rem;

        > span {
            text-shadow: darken(#d4d5d7, 20%) 0 0 0.5rem;
        }
    }

    .light-theme-plus{
        color: $sc_blue;
    }

    .sc-timer-counter-negative {
        color: $sc_red;
    }
</style>