<template>
    <div class="sc-user-icon" :class="[`bg-${color}`, {'sc-user-icon-active': active}, {'sc-user-icon-isme': isMe}]">
        <span>{{this.text}}</span>
    </div>
</template>

<script>
    export default {
        name: "UserIcon",
        props: {
            color: {
                type: String,
                default: "red"
            },
            text: {
                type: String,
                required: true
            },
            active: {
                type: Boolean,
                default: false
            },
            isMe: {
                type: Boolean,
                default: false
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "src/scss/mixins/breakpoints";
    @import "src/scss/variables/colors";

    .sc-user-icon {
        position: relative;
        margin-right: 0.3rem;
        margin-bottom: 0.3rem;
        border-radius: 0.3rem;
        display: flex;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;

        font-size: 16px;
        color: white;

        &-active {
            &:after {
                content: '';
                position: absolute;
                background-color: $sc_green_light;
                width: 10px;
                height: 10px;
                border-radius: 2rem;
                bottom: -5%;
                right: -5%;

                @include br-mobile {
                    height: 7px;
                    width: 7px;
                }
            }
        }

        &-isme {
            border: 0.09rem  $sc_yellow solid;
            color: $sc_yellow;
        }

        @include br-mobile {
            font-size: 12px;
            width: 22px;
            height: 22px;
        }
    }
</style>