<template>
    <div class="statsblock" :class="{'light-theme' : !this.$root.APIStorage.userData.darkMode}">
        <base-button type="primary" @click="exit" icon="fa fa-arrow-left" class="exit"><span class="back">Go back</span></base-button>

        <h1 class="stats" > User stats </h1>
        <div v-if="this.totalGames !== 0">
        <div class="block">
            <i class="fa fa-history"></i>
            <span class="texthour" v-if="this.timestamp > 1"> In the past <span class="number">  {{timestamp}}</span> hours</span>
            <span class="texthour" v-else-if="this.timestamp <= 1"> In the past hour</span>
        </div>

        <div class="block">
            <i class="fa fa-gamepad"></i>
            <span class="textgames" v-if="this.totalGames > 1"> <span class="number">  {{totalGames}}</span> games have been created</span>
            <span class="textgames" v-else-if="this.totalGames === 1"> <span class="number"> 1</span> game has been created</span>
        </div>

        <div class="block">
        <i class="fa fa-clone"></i>
        <span class="textcards" v-if="this.placementCards > 1 || this.placementCards === 0"> <span class="number"> {{placementCards}} </span> cards have been moved </span>
            <span class="textcards" v-else-if="this.placementCards === 1"> <span class="number"> {{placementCards}} </span> card has been moved </span>

        </div>
        <div class="block">
        <i class="fa fa-forward"></i>
        <span class="textskip" v-if="this.skipCards > 1 || this.skipCards === 0"> <span class="number"> {{skipCards}} </span> cards have been skipped </span>
            <span class="textskip" v-else-if="this.skipCards === 1"> <span class="number"> {{skipCards}} </span> card has been skipped </span>
        </div>
         <img class="img" src="../../public/scrum-events-logo.png" alt="Scrum events logo" />

     </div>
        <div v-else>
        <p class="sorry">There aren't any games created</p>
            <img class="imageNoGames" src="../assets/pngwing.com.png">
    </div>
    </div>
</template>

<script>
    export default {
        name: "Stats",
        data(){
           return{
               totalGames: null,
               skipCards:  null,
               placementCards: null,
               timestamp: null,
           }
        },
        mounted(){
            this.$root.APICaller.showEventList().then(_ => {
                for (let i = 0; i < this.$root.APIStorage.eventList.length; i++) {
                    this.skipCards += this.$root.APIStorage.eventList[i].skipCard;
                    this.placementCards += this.$root.APIStorage.eventList[i].placementCard;
                }
            });
            this.$root.APICaller.showStartTimer().then(_ => {
                const today = new Date();
                let timer = this.$root.APIStorage.startTimer;
                let d = new Date(Date.parse(timer));
                d.setHours(d.getHours() + 2);
                let math = Math.abs(today - d);
                let hours = Math.floor((math / (1000 * 60 * 60)));

                this.timestamp = hours;
            });

            this.$root.APICaller.showTotalGames().then(_ => {
                this.totalGames = this.$root.APIStorage.totalGamesList;
            });
        },
        methods: {
            exit(){
                location.href="scrum-events";
            }
        }


    }
</script>

<style scoped lang="scss">
    @import "src/scss/variables/colors";
    @import "src/scss/mixins/breakpoints";


    .statsblock {
        width: 100%;
        overflow: auto;
    }

    .stats {
        font-size: 64px;
        color: darkgray;
        margin-top: 1%;
        border-bottom: 1px white solid;
        margin-left: 150px;
        margin-right: 150px;

        @include br-tablet {
            font-size: 32px;
            margin-left: 0px;
            margin-right: 0px;

        }
        @include br-mobile{
            font-size: 20px;
            margin-left: 0px;
            margin-right: 0px;
        }
    }
    .block {
        margin-top: 50px;
        margin-left: 25%;
        display: block;
        text-align: left;
        @include br-mobile{
            margin-top:30px;
            margin-left: 10%;
        }
    }

    .fa-history, .fa-clone, .fa-forward, .fa-gamepad {

        font-size: 130px;
        @include br-desktop{
            font-size: 150px;
            margin-left: -100px;

        }
        @include br-tablet {
            font-size: 100px;
            margin-left: -100px;
        }
        @include br-mobile{
            font-size: 30px;
            margin-top:55px;
        }
    }

    .texthour, .textcards, .textskip, .textgames{
        position: relative;
        top: -50px;
        font-size: 40px;
        @include br-desktop{
            font-size: 25px;
            top: -40px;
        }
        @include br-tablet{
            font-size: 28px;
        }
    }
    .texthour {

        color: white;
        margin-left: 110px;
        @include br-tablet {
            top: -30px;
            margin-left: 100px;
        }
        @include br-mobile{
            font-size: 17px;
            margin-left: 20px;
            top: -10px;
        }
    }

    .textgames{
        margin-left: 80px;

        @include br-tablet {
            margin-left: 80px;
            top: -20px;
        }
        @include br-mobile{
            font-size: 17px;
            margin-left: 15px;
            margin-top:75px;
            top: -10px;
        }
    }


    .textcards{

        margin-left: 90px;
        @include br-tablet {
            margin-left: 90px;
            top: -20px;
        }
        @include br-mobile{
            font-size: 17px;
            margin-left: 20px;
            margin-top:75px;
            top: -10px;
        }
    }




    .textskip{
        margin-left: 98px;

        @include br-tablet {
            top: -30px;
        }
        @include br-mobile{
            font-size: 17px;
            margin-left: 20px;
            top: -10px;
        }
    }
    .number{
        color: darkorange;
    }

    .img{
        float:right;
        width: 25%;
        margin-top: -350px;
        justify-content: right;

        @include br-desktop{
            width: 20%;
            margin-top: -250px;
        }
        @include br-tablet{
            float: none;
            width: 30%;
            margin-left: 150px;
            margin-top: 0px;
        }
        @include br-mobile{
            float: none;
            width: 20%;
            margin-left: 0px;
            margin-top: 30px;
        }
    }

    .exit{
        float:left;
        margin-left: 10px;
        margin-top: 25px;

        @include  br-tablet{
            font-size: 8px;
            margin-top: 8px;
        }
        @include br-mobile{
            position: absolute;
            left: 10px;
            top: 25px;
            font-size: 8px;
       /*     position: absolute;
            bottom: 10%;
            left: 0;*/
        }
    }

    .back{
        @include br-mobile{
            display: none;
        }
    }
    .sorry{
        color:white;
        font-size: 42px;
        margin-top: 100px;

        @include br-tablet{
            font-size:25px;
        }
        @include br-mobile{
            font-size:25px;
        }
    }
    .imageNoGames{
        width: 25%;
    }

    .light-theme{
        .stats, .textcards, .textgames, .texthour, .textskip, .sorry{
            color: #2D98DA;
        }
    }
</style>