<template>
    <modal class="APIErrorModal" @close="returnModal" :show="this.$root.APIMethods.isModalOpen('APIError')"
           gradient="danger"
           modal-classes="modal-danger modal-dialog-centered">
        <h6 slot="header" class="modal-title" id="modal-title-default">Oops!</h6>

        <p>Please report the following:</p>
        <p>Status: {{this.$root.APIStorage.openModal.modalCode}} - {{this.$root.APIStorage.openModal.modalText}}</p>

        <template slot="footer">
            <base-button type="white" @click="returnModal">Retry</base-button>

        </template>
    </modal>
</template>

<script>
    import Modal from "../../Modal";
    import BaseButton from "../../BaseButton";

    export default {
        name: "APIErrorModal",
        components: {Modal, BaseButton},
        methods:{
            returnModal(){
                let previousModal = this.$root.APIStorage.openModal.originalModalType;
                this.$root.APIStorage.openModal = {};
                this.$root.APIStorage.openModal = {
                    modalType: previousModal
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../scss/variables/colors";

    .APIErrorModal.show{
        background-color: darken($sc_dark, 5%);
        z-index: 2500;
    }
</style>
