<template>
    <modal @close="closeModal" :show="this.$root.APIMethods.isModalOpen('explanation')"
           :gradient="!this.$root.APIStorage.userData.darkMode ? 'blue':'default' "
           modal-classes="modal-dialog-centered">
        <h6 slot="header" class="modal-title text-white">{{cardData.description}}</h6>
        <div class="text-white urlColor" :class="[{'urlColor-dark': this.$root.APIStorage.userData.darkMode}]">
            <vue-markdown>Your answer: {{actualColumnTitle(this.cardData)}}</vue-markdown>
            <vue-markdown>Right answer: {{correctColumnTitle(this.cardData)}}</vue-markdown>
            <vue-markdown>{{cardData.explanation}}</vue-markdown>
        </div>
    </modal>
</template>

<script>
    import Modal from "../../Modal";
    import VueMarkdown from "vue-markdown";

    export default {
        name: "ExplanationModal",
        components: {Modal, VueMarkdown},
        props: {
            cardData: {
                type: Object,
                required: true
            },
            closeModal: {
                type: Function,
                required: true
            }
        },
        methods: {
            correctColumnTitle(cardData){
                const a = this.$root.APIStorage.game.columns.find(x => x.templateId === cardData.correctColumnTemplateId);
                return a.title;
            },
            actualColumnTitle(cardData){
                const a = this.$root.APIStorage.game.columns.find(x => x.id === cardData.columnId)
                return a.title;
            }
        }
    }
</script>

<style lang="scss">
    @import "src/scss/variables/colors";

    .urlColor {
        a {
            color: #000fa0;
            text-decoration: underline;
        }
        &-dark {
            a {
                color: $sc_orange;
                text-decoration: underline;
            }
        }
    }
</style>