<template>
    <modal class="sc-modal-fullscreen" :show="this.$root.APIMethods.isModalOpen('joinGame')"
           body-classes="p-0"
           modal-classes="modal-dialog-centered modal-sm"
           :class="{'light-theme-start' : !this.$root.APIStorage.userData.darkMode}">
        <card type="lighter" shadow
              header-classes="bg-white pb-5"
              body-classes="px-lg-5 pb-lg-5"
              class="border-0">
            
                <base-button @click="graph" type="link" icon="fa fa-bar-chart" class="graph"></base-button>
                <base-button @click="settings" type="link" icon="fa fa-cog" class="settings"></base-button>
                <img class="sc-logo-image mb-3" src="scrum-events-logo.png" alt="Logo">
                <base-input alternative
                            v-model="gameCode"
                            class="mb-3"
                            placeholder="Game code..."
                            addon-left-icon="fa fa-qrcode" @keyup.enter="joinGame">
                </base-input>
                <hr class="mb-1">
                <div class="text-center">
                    <base-button @click="joinGame" block :type="!this.$root.APIStorage.userData.darkMode ? 'light-theme' : 'primary'" class="mt-4 mb-1" icon="fa fa-user-plus">Join</base-button>
                    <base-button tag="a" block type="link" @click="openCreateGame" icon="fa fa-plus" class="sc-text-btn">Create new game</base-button>
                </div>
            
        </card>
    </modal>
</template>

<script>
    import Modal from "../../Modal";
    import BaseButton from "../../BaseButton";
    import BaseInput from "../../BaseInput";
    import Card from "../../Card";

    export default {
        name: "JoinGameModal",
        components: {Modal, BaseButton, BaseInput, Card},
        data() {
            return {
                gameCode: ""
            }
        },
        methods: {
            joinGame() {
                if (this.gameCode === null || /^\s*$/.test(this.gameCode)) {
                    this.$root.APICaller._handleErrors({message: "Please fill in a game code!"});
                    return;
                }
                if (this.gameCode.length !== 8) {
                    this.$root.APICaller._handleErrors({message: "Invalid game code."});
                    return;
                }
                this.$root.APICaller.joinGame(this.gameCode);
            },
            openCreateGame() {
                this.$root.APIStorage.openModal = {modalType: "startGame"}
            },
            settings() {
                this.$root.APIStorage.openModal = {
                    modalType: "optionsModal",
                    closeToType: "joinGame"
                }
            },
            graph(){
                this.$root.APIStorage.openModal = {
                    modalType: "statsModal"
                }
            }
        },
        mounted() {
            if ('joinCode' in this.$route.query && this.$route.query.joinCode !== "") {
                this.gameCode = this.$route.query.joinCode;
                this.joinGame();
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../scss/variables/colors";

    .sc-modal-fullscreen{
        background-color: darken($sc_dark, 5%);
        z-index: 2500;
    }

    .sc-text-btn {
        font-size: 12px;
        margin-top: 0;
    }

    .light-theme-start {
        background-color: #f5f5f5;
    }

    .btn-light-theme {
        background-color: $sc_blue;
    }

    .settings {
        position: absolute;
        right: 5%;
        font-size: 20px;
        color: $sc_midnight;
    }

    .graph{
        position: absolute;
        left: 5%;
        font-size: 20px;
        color: $sc_midnight;

    }
</style>
