<template>
    <modal class="optionsModal" :show="this.$root.APIMethods.isModalOpen('optionsModal')"
           modal-classes="modal-sm modal-lighter modal-dialog-centered"
           type="mini"
           gradient="lighter"
           :class="{'light-theme-start' : !this.$root.APIStorage.userData.darkMode}">
        <template>
            <h3 class="modal-title mb-2">Game options</h3>
            <h5>For user {{this.$root.APIStorage.userData.userName}}</h5>
            <hr>
            <form role="form" class="center">
                <div id="mode" class="d-flex flex-row justify-content-between">
                    <span class="modeText">Dark mode</span>
                    <BaseSwitch @click="darkModeSwitch" :value="this.$root.APIStorage.userData.darkMode" id="modeSliderSwitch"></BaseSwitch>
                </div>
            </form>
            <base-button type="link" @click="logout" icon="fa fa-sign-out" block class="mb-2">Logout</base-button>
            <base-button type="primary" @click="exit" icon="fa fa-arrow-left" block>Go back</base-button>
        </template>
    </modal>
</template>

<script>
    import Modal from "../../Modal";
    import BaseSwitch from "../../BaseSwitch";
    import BaseButton from "../../BaseButton";

    export default {
        name: "OptionsModal",
        components: {Modal, BaseSwitch, BaseButton},
        data() {
            return {
                darkMode : this.$root.APIStorage.userData.darkMode,
                initialDarkMode: false
            }
        },
        methods: {
            darkModeSwitch() {
                this.darkMode = !this.darkMode
                this.$root.APIStorage.userData.darkMode = !this.$root.APIStorage.userData.darkMode
            },
            exit() {
                this.$root.APICaller.setSettings({
                    darkMode: this.darkMode
                }, {
                    darkMode: this.initialDarkMode
                });
            },
            logout() {
                this.$root.APICaller.logout();
            }
        },
        mounted() {
            this.initialDarkMode = this.$root.APIStorage.userData.darkMode;
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../scss/variables/colors";

    .optionsModal {
        background-color: darken($sc_dark, 5%);
        transition: background-color 0.5s ease;
        z-index: 2501;
    }

    .center {
        min-height: 200px;
    }

    .light-theme-start {
        background-color: #f5f5f5;
    }
</style>