<template>
    <modal class="sc-front-modal" :show="this.$root.APIMethods.isModalOpen('register')"
           body-classes="p-0"
           modal-classes="modal-dialog-centered modal-sm">
        <card type="lighter" shadow
              header-classes="bg-white pb-5"
              body-classes="px-lg-5 py-lg-5"
              class="border-0">
            <template>
                <img class="sc-logo-image mb-3" src="scrum-events-logo.png" alt="Logo">
                <base-input alternative
                            v-model="userName"
                            class="mb-3"
                            placeholder="Name"
                            addon-left-icon="ni ni-circle-08" @keyup.enter="registerUser">
                </base-input>
                <hr class="mb-1">
                <div class="text-center">
                    <base-button @click="registerUser" block type="primary" class="my-4" icon="fa fa-arrow-right">Continue...</base-button>
                </div>
            </template>
        </card>
    </modal>
</template>

<script>
    import Modal from "../../Modal";

    export default {
        name: "RegisterModal",
        components: {Modal},
        data() {
            return {
                userName: ""
            }
        },
        methods: {
            testUserName(userNameInput){
                return (userNameInput.length >= 2) && (/^[a-zA-Z0-9_-]+$/.test(userNameInput))
            },
            registerUser() {
                if (this.userName.length === 0) return this.$root.APICaller._handleErrors({message: "Please fill in a name!"});
                if (this.userName.length === 1) return this.$root.APICaller._handleErrors({message: "Name has to be longer than 1 character!"});
                if (!this.testUserName(this.userName)) return this.$root.APICaller._handleErrors({message: "Name is invalid"});
                this.registerUserAtAPI(this.userName)    
            },
            registerUserAtAPI(userNameInput){
                this.$root.APICaller.registerUser(userNameInput);
            }
        }
    }
</script>

<style scoped>

</style>
