<template>
    <modal @close="closeModal" :show="this.$root.APIMethods.isModalOpen('resetGame')"
           modal-classes="modal-danger modal-dialog-centered"
           :gradient="!this.$root.APIStorage.userData.darkMode ? 'blue':'danger' ">
        <h6 slot="header" class="modal-title" id="modal-title-default">Are you sure you want to reset?</h6>

        <p>This will reset all your progress, are you sure?</p>

        <base-button type="white" @click="resetGame">Reset</base-button>
        <base-button type="link"
                     text-color="white"
                     class="ml-auto" @click="closeModal">Don't reset
        </base-button>

    </modal>
</template>

<script>
    import Modal from "../../Modal";
    import BaseButton from "../../BaseButton";

    export default {
        name: "ResetGameModal",
        components: {Modal,BaseButton},
        props: {
            closeModal: {
                type: Function,
                required: true
            }
        },
        methods: {
            resetGame(){
                this.$root.Firebase.logEvent('reset game', this.$root.APIStorage.userData);
                this.$root.APIMethods.closeModal();
                this.$root.APICaller.resetGame();
            }
        }
    }
</script>