<template>
    <modal @close="closeModal" :show="this.$root.APIMethods.isModalOpen('restartGame')"
           modal-classes="modal-danger modal-dialog-centered"
           :gradient="!this.$root.APIStorage.userData.darkMode ? 'blue':'danger' ">
        <h6 slot="header" class="modal-title" id="modal-title-notification">Leave game?</h6>

        <div class="py-3 text-center">
            <i class="ni ni-bell-55 ni-3x"></i>
            <h4 class="heading mt-4">Are you sure you want to leave the game?</h4>
            <p>If you leave this game you won't be able to rejoin.</p>
        </div>

        <template slot="footer">
            <base-button type="white" @click="restartGame">Yes, leave!</base-button>
            <base-button type="link"
                         text-color="white"
                         class="ml-auto"
                         @click="closeModal">
                No, take me back!
            </base-button>
        </template>
    </modal>
</template>

<script>
    import Modal from "../../Modal";

    export default {
        name: "RestartGameModal",
        components: {Modal},
        props: {
            closeModal: {
                type: Function,
                required: true
            }
        },
        methods: {
            restartGame() {
                this.$root.Firebase.logEvent('restart game', this.$root.APIStorage.userData);
                this.$root.APICaller.leaveGame().then(() => {
                    let query = Object.assign({}, this.$route.query);
                    delete query.joinCode;
                    this.$router.replace({ query }).catch(_ => {});
                    this.$root.APIStorage.openModal = {modalType: "joinGame"}
                });
            }
        }
    }
</script>

<style scoped>

</style>