<template>
    <modal @close="saveNote" :show="this.$root.APIMethods.isModalOpen('note')"
           gradient="primary"
           modal-classes="modal-danger modal-dialog-centered">
        <h6 slot="header" class="modal-title">Add note</h6>
        <textarea class="custom-textarea" :value="this.$root.APIStorage.openModal.cardNote" @input="updateNote($event.target.value)"/>
    </modal>
</template>

<script>
    import Modal from "../../Modal";

    export default {
        name: "SaveNoteModal",
        components: {Modal},
        data() {
            return {
                firstValue: null
            }
        },
        mounted() {
            this.firstValue = this.$root.APIStorage.openModal.cardNote;
        },
        methods: {
            updateNote(value){
                if (this.firstValue === null) this.firstValue = value;
                this.$root.APIStorage.openModal.cardNote = value;
            },
            saveNote(){
                if (this.$root.APIMethods.isModalOpen("note")) {
                    if (this.$root.APIStorage.openModal.cardNote !== this.firstValue) this.$root.APICaller.makeNote(this.$root.APIStorage.openModal.cardNote, this.$root.APIStorage.openModal.cardId);
                    this.$root.APIMethods.closeModal();
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    .custom-textarea{
        width: 100%;
        min-height: 200px;

        background: rgba(0,0,0,0.05);
        border: none;
        color: white;
        font-size: 24px;

        border-radius: 0.7rem;
        padding: 0.4rem;
        outline: 0;
    }
</style>
