<template>
    <modal class="startGameModal" :show="this.$root.APIMethods.isModalOpen('startGame')"
           body-classes="p-0"
           modal-classes="modal-dialog-centered modal-sm"
           :class="{'light-theme-start' : !this.$root.APIStorage.userData.darkMode}">
        <card type="lighter"
              header-classes="bg-white pb-5"
              body-classes="px-lg-5 pb-lg-5"
              class="border-0">
      
                <base-button @click="settings" type="link" icon="fa fa-cog" class="settings"></base-button>
                <img class="sc-logo-image mb-3" src="scrum-events-logo.png" alt="Logo">
                <base-dropdown class="w-100" menu-classes="w-100">
                    <base-button slot="title" block type='warning' class="dropdown-toggle">
                        {{this.selectedGame.title}}
                    </base-button>
                    <span v-for="game in this.$root.APIStorage.gameList" @click="setSelected(game)" v-bind:key="game.id" class="dropdown-item click-span">{{game.title}}</span>
                </base-dropdown>
                <div id="feedback" class="d-flex flex-row justify-content-between">
                    <span id="feedbackText">Direct feedback </span>
                    <BaseSwitch @click="valueSwitch" id="feedbackSliderSwitch" :value="this.dirFeedback"></BaseSwitch>
                </div>
                <hr class="mb-1 mt-3">
                <div class="text-center">
                    <base-button @click="startPlaying" block :type="!this.$root.APIStorage.userData.darkMode ? 'light-theme' : 'primary'" class="mt-4 mb-2" icon="fa fa-play">Start playing!</base-button>
                    <base-button tag="a" block type="link" @click="openJoinGame" icon="fa fa-user-plus" class="sc-text-btn">Join a game...</base-button>
                </div>
      
        </card>
    </modal>
</template>

<script>
    import Modal from "../../Modal";
    import BaseSwitch from "../../BaseSwitch";
    import BaseButton from "../../BaseButton";
    //adding this import causes weird behaviour
    //import BaseDropdown from "../../BaseButton";
    import Card from "../../Card";

    export default {
        name: "StartGameModal",
        components: {Modal, BaseSwitch, BaseButton, /*BaseDropdown,*/ Card},
        data() {
            return {
                selectedGame: {id: -1, title: "Select game..."},
                dirFeedback: false
            }
        },
        methods: {
            startPlaying() {
                if (this.selectedGame.id === -1) return this.$root.APICaller._handleErrors({message: "Please pick a game!"});
                this.$root.APICaller.createGame("ScrumCardGame", this.selectedGame.id, this.dirFeedback).then(_ => {
                    this.$router.push({ query: {} });
                });
            },
            setSelected(game) {
                this.selectedGame = {id: game.id, title: game.title};
                this.$router.push({ query: Object.assign({}, this.$route.query, { selectedGame: game.id }) });
            },
            valueSwitch() {
                this.dirFeedback = !this.dirFeedback;
                this.$router.push({ query: Object.assign({}, this.$route.query, { directFeedback: this.dirFeedback }) });
            },
            openJoinGame() {
                this.$root.APIStorage.openModal = {modalType: "joinGame"}
            },
            settings() {
                this.$root.APIStorage.openModal = {
                    modalType: "optionsModal",
                    closeToType: "startGame"
                }
            }
        },
        mounted() {
            if ('selectedGame' in this.$route.query && this.$route.query.selectedGame !== "" && !isNaN(this.$route.query.selectedGame)) {
                let game = this.$root.APIStorage.gameList.find(g => g.id === parseInt(this.$route.query.selectedGame));
                if (game !== undefined) {
                    this.selectedGame = {id: game.id, title: game.title}
                }
            }
            if ('directFeedback' in this.$route.query && this.$route.query.directFeedback !== "") {
                this.dirFeedback = this.$route.query.directFeedback === "true";
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../scss/variables/colors";

    .startGameModal{
        background-color: darken($sc_dark, 5%);
        transition: background-color 0.5s ease;
        z-index: 2500;
    }

    .click-span:hover {
        cursor: pointer;
    }
    #feedback{
        //height: 30px;
        margin-top: 1.5rem;
    }
    .sc-text-btn {
        font-size: 12px;
        margin-top: 0;
    }

    .light-theme-start {
        background-color: #f5f5f5;
    }

    .btn-light-theme {
        background-color: $sc_blue;
    }

    .settings {
        position: absolute;
        right: 5%;
        font-size: 20px;
        color: $sc_midnight;
    }
</style>