<template>
    <div id="app" :class="{ 'light-theme' : !this.$root.APIStorage.userData.darkMode, 'pyro': true }">
        <div v-if="!this.$root.APIStorage.stopFireworks" style="z-index: 500" class="before"></div>
        <div v-if="!this.$root.APIStorage.stopFireworks" style="z-index: 500" class="after"></div>
        <loading-screen v-if="this.$root.APIStorage.showLoadingScreen"></loading-screen>
        <router-view v-if="$route.path === '/stats'"></router-view>
        <sidebar v-if="(!('isHidden' in this.$root.APIStorage.game) || this.$root.APIStorage.game.isHidden === false) && this.$route.path !== '/stats'"></sidebar>
        <fade-transition mode="out-in" :duration="250">
            <div class="sc-sidebar-background" v-if="this.$root.APIStorage.showSideBar" @click="closeSideBar"></div>
        </fade-transition>

        <column-row v-if="(!('isHidden' in this.$root.APIStorage.game) || this.$root.APIStorage.game.isHidden === false) && this.$route.path !== '/stats'" id="column-row" :columns="this.$root.APIStorage.game.columns"></column-row>
        <div class="error-box">
            <transition-group name="slide-fade">
                <snackbar v-for="(snbar, key) in this.$root.APIStorage.snackbars" :key="key" :text="snbar.text" :type="snbar.type"></snackbar>
            </transition-group>
        </div>

        <slide-y-up-transition>
            <explanation-modal v-if="this.$root.APIMethods.isModalOpen('explanation')" :card-data="this.$root.Utils.getCardById(this.$root.APIStorage.openModal.cardId)" :close-modal="closeModal"></explanation-modal>
        </slide-y-up-transition>

        <slide-y-up-transition>
            <join-game-modal v-if="this.$root.APIMethods.isModalOpen('joinGame') && $route.path !== '/stats'"></join-game-modal>
        </slide-y-up-transition>


        <slide-y-up-transition>
            <register-modal v-if="this.$root.APIMethods.isModalOpen('register')"></register-modal>
        </slide-y-up-transition>


        <slide-y-up-transition>
            <stats-modal v-if="this.$root.APIMethods.isModalOpen('statsModal')"></stats-modal>
        </slide-y-up-transition>

        <slide-y-up-transition>
            <start-game-modal v-if="this.$root.APIMethods.isModalOpen('startGame')"></start-game-modal>
        </slide-y-up-transition>

        <slide-y-up-transition>
            <options-modal v-if="this.$root.APIMethods.isModalOpen('optionsModal')" :close-modal="closeModal"></options-modal>
        </slide-y-up-transition>

        <slide-y-up-transition>
            <restart-game-modal v-if="this.$root.APIMethods.isModalOpen('restartGame')" :close-modal="closeModal"></restart-game-modal>
        </slide-y-up-transition>

        <slide-y-up-transition>
            <reset-game-modal v-if="this.$root.APIMethods.isModalOpen('resetGame')" :close-modal="closeModal"></reset-game-modal>
        </slide-y-up-transition>

        <slide-y-up-transition>
            <save-note-modal v-if="this.$root.APIMethods.isModalOpen('note')" :close-modal="closeModal"></save-note-modal>
        </slide-y-up-transition>

        <slide-y-up-transition>
            <a-p-i-error-modal v-if="this.$root.APIMethods.isModalOpen('APIError')" :close-modal="closeModal"></a-p-i-error-modal>
        </slide-y-up-transition>

    </div>
</template>

<script>
    import { FadeTransition } from "vue2-transitions";
    import Sidebar from "./components/scrum/NavBar.vue";
    import Modal from "./components/Modal.vue";
    import Snackbar from "./components/scrum/Snackbar";
    import ColumnRow from "./components/scrum/ColumnRow";
    import ExplanationModal from "./components/scrum/modals/ExplanationModal";
    import vueCustomScrollbar from 'vue-custom-scrollbar';
    import VueMarkdown from "vue-markdown";
    import { SlideYUpTransition } from "vue2-transitions";
    import StartGameModal from "./components/scrum/modals/StartGameModal";
    import OptionsModal from "./components/scrum/modals/OptionsModal";
    import RestartGameModal from "./components/scrum/modals/RestartGameModal";
    import ResetGameModal from "./components/scrum/modals/ResetGameModal";
    import SaveNoteModal from "./components/scrum/modals/SaveNoteModal";
    import RegisterModal from "./components/scrum/modals/RegisterModal";
    import APIErrorModal from "./components/scrum/modals/APIErrorModal";
    import LoadingScreen from "./components/scrum/LoadingScreen";
    import JoinGameModal from "./components/scrum/modals/JoinGameModal";
    import StatsModal from "./components/scrum/modals/StatsModal"



    export default {
        name: "app",
        components: {
            JoinGameModal,
            LoadingScreen,
            RegisterModal,
            SaveNoteModal,
            ResetGameModal,
            RestartGameModal,
            StartGameModal,
            OptionsModal,
            APIErrorModal,
            StatsModal,
            Sidebar, FadeTransition,Modal, Snackbar, ColumnRow, ExplanationModal, vueCustomScrollbar, VueMarkdown, SlideYUpTransition,

        },
        data() {
            return {
                userName: this.$root.APIStorage.userData.userName
            }
        },
        methods:{
            closeModal() {
                this.$root.APIMethods.closeModal();
            },
            closeSideBar() {
                this.$root.APIStorage.showSideBar = false;
            }
        },
        mounted() {
            if(this.$route.path !== '/stats') {
                this.$root.APIMethods.setGameTimer();
                this.$root.APICaller.isTokenValid();
            }
        }
    };
</script>


<style lang="scss">
    @import "scss/variables/colors";

    //Start of firework :>
    $particles: 50;
    $width: 500;
    $height: 500;

    // Create the explosion...
    $box-shadow: ();
    $box-shadow2: ();
    @for $i from 0 through $particles {
        $box-shadow: $box-shadow,
        random($width)-$width / 2 + px
        random($height)-$height / 1.2 + px
        //hsl(random(360), 100, 50);
        if($i % 2 == 0, $sc_purple, $sc_orange);
        $box-shadow2: $box-shadow2, 0 0 #fff
    }
    @mixin keyframes ($animationName) {
        @-webkit-keyframes #{$animationName} {
            @content;
        }

        @-moz-keyframes #{$animationName} {
            @content;
        }

        @-o-keyframes #{$animationName} {
            @content;
        }

        @-ms-keyframes #{$animationName} {
            @content;
        }

        @keyframes #{$animationName} {
            @content;
        }
    }

    @mixin animation-delay ($settings) {
        -moz-animation-delay: $settings;
        -webkit-animation-delay: $settings;
        -o-animation-delay: $settings;
        -ms-animation-delay: $settings;
        animation-delay: $settings;
    }

    @mixin animation-duration ($settings) {
        -moz-animation-duration: $settings;
        -webkit-animation-duration: $settings;
        -o-animation-duration: $settings;
        -ms-animation-duration: $settings;
        animation-duration: $settings;
    }

    @mixin animation ($settings) {
        -moz-animation: $settings;
        -webkit-animation: $settings;
        -o-animation: $settings;
        -ms-animation: $settings;
        animation: $settings;
    }

    @mixin transform ($settings) {
        transform: $settings;
        -moz-transform: $settings;
        -webkit-transform: $settings;
        -o-transform: $settings;
        -ms-transform: $settings;
    }

    body {
        margin:0;
        padding:0;
        background: #000;
        overflow: hidden;
    }

    .pyro > .before, .pyro > .after {
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        box-shadow: $box-shadow2;
        @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
    }

    .pyro > .after {
        @include animation-delay((1.25s, 1.25s, 1.25s));
        @include animation-duration((1.25s, 1.25s, 6.25s));
    }

    @include keyframes(bang) {
        to {
            box-shadow:$box-shadow;
        }
    }

    @include keyframes(gravity)  {
        to {
            @include transform(translateY(200px));
            opacity: 0;
        }
    }

    @include keyframes(position) {
        0%, 19.9% {
            margin-top: 10%;
            margin-left: 40%;
        }
        20%, 39.9% {
            margin-top: 40%;
            margin-left: 30%;
        }
        40%, 59.9% {
            margin-top: 20%;
            margin-left: 70%
        }
        60%, 79.9% {
            margin-top: 30%;
            margin-left: 20%;
        }
        80%, 99.9% {
            margin-top: 30%;
            margin-left: 80%;
        }
    }
    //End of firework :>


    .drag-in-progress > body {
       & > .drag-in, & > .drag-out {
            animation: cardDragTilt 0.9s ease-in-out forwards infinite !important;
            transform-origin: 0 -50% !important;
            opacity: 1 !important;
            cursor: grabbing!important;

            @keyframes cardDragTilt {
                0%, 100% {
                    transform: rotate(5deg) translate(-50%, -10%);
                }
                50% {
                    transform: rotate(-5deg) translate(-50%, -10%);
                }
            }
        }
    }

    .sc-front-modal {
        background-color: darken($sc_dark, 5%) !important;
        z-index: 2500;
    }

    .sc-logo-image {
        width: 5rem;
        margin: 0;
        position: relative;
    }
</style>

<style scoped lang="scss">
    .light-theme {
        background: #f5f5f5 !important;
    }

    .error-box {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 4000;
        right: 1rem;
        top: 1rem;
    }

    /* Enter and leave animations can use different */
    /* durations and timing functions.              */
    .slide-fade-enter-active {
        transition: all .3s ease;
    }
    .slide-fade-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */ {
        transform: translateX(10rem);
        opacity: 0;
    }
</style>

<style lang="scss">
    @import "scss/variables/colors";
    @import "scss/mixins/breakpoints";

    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        background: darken($sc_dark, 5%);
        height: 100vh;
        flex-direction: row;
        display: flex;
        overflow: hidden;
    }

    .sc-sidebar-background {
        display: none;

        @include br-desktop-xl {
            display: none;
        }

        @include br-desktop {
            display: none;
        }

        @include br-mobile {
            display: block;
            position: fixed;
            height: 100vh;
            width: 100vw;
            background: rgba($sc_dark, 0.6);
            z-index: 5;
        }
    }

        .custom-toggle input:checked + .custom-toggle-slider {
            background: darken($sc_purple, 10%);
        }


    html body {
        height: 100vh;
        width: 100%;
        background: darken($sc_dark, 5%);;
    }

    .logo {
        align-self: center;
        color: black;
        font-weight: bold;
        font-family: "Lato", sans-serif;
    }

    .main-nav {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0.8rem;
    }
</style>
