$sc_red: #eb3b5a !default;
$sc_red_light: #fc5c65 !default;
$sc_orange: #fa8231 !default;
$sc_orange_light: #fd9644 !default;
$sc_yellow: #f7b731 !default;
$sc_yellow_light: #fed330 !default;
$sc_green: #20bf6b !default;
$sc_green_light: #26de81 !default;
$sc_greenblue: #0fb9b1 !default;
$sc_greenblue_light: #2bcbba !default;
$sc_blue: #2d98da !default;
$sc_blue_light: #45aaf2 !default;
$sc_darkblue: #3867d6 !default;
$sc_darkblue_light: #4b7bec !default;
$sc_purple: #8854d0 !default;
$sc_purple_light: #a55eea !default;
$sc_gray: #a5b1c2 !default;
$sc_gray_light: #d1d8e0 !default;
$sc_midnight: #4b6584 !default;
$sc_midnight_light: #778ca3 !default;
$sc_dark: #262c49 !default;
$sc_dark_light: lighten($sc_dark, 15%) !default;

$sc_colors: (
        "red": $sc_red,
        "orange": $sc_orange,
        "yellow": $sc_yellow,
        "green": $sc_green,
        "greenblue": $sc_greenblue,
        "blue": $sc_blue,
        "darkblue": $sc_darkblue,
        "purple": $sc_purple,
        "gray": $sc_gray,
        "midnight": $sc_midnight,
        "dark": $sc_dark
);

$sc_colors_light: (
        "red-light": $sc_red_light,
        "orange-light": $sc_orange_light,
        "yellow-light": $sc_yellow_light,
        "green-light": $sc_green_light,
        "greenblue-light": $sc_greenblue_light,
        "blue-light": $sc_blue_light,
        "darkblue-light": $sc_darkblue_light,
        "purple-light": $sc_purple_light,
        "gray-light": $sc_gray_light,
        "midnight-light": $sc_midnight_light,
        "dark-light": $sc_dark_light
);